{% extends "base.html" %}
{% block title %}Latest News{% endblock %}
{% block content %}

<ul 
  id="item-list" 
  class="item-list divide-y divide-gray-200 bg-white rounded-lg shadow-sm overflow-hidden" 
  role="list"
  aria-live="polite" aria-relevant="additions">
    {% if items %}
    {% for item in items %}

      <li class="item p-4 hover:bg-gray-50 focus-within:bg-gray-50 transition-colors" 
        data-index="{{ loop.index0 }}">
          <article class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg">
            <img alt=""
              src="{{ item.image_url | escape }}"
              class="h-56 w-full object-cover">

            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-gray-500"> 
                {{ item.timestamp }}  
              </time>

              <h3 class="mt-0.5 text-xl text-gray-900">
                <a href="{{ item.url | escape }}" target="_blank" rel="noopener noreferrer"
                  class="flex-1 text-sm font-medium text-blue-600 hover:text-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 rounded">
                  {{ item.title | title }}
                </a>
              </h3>

              <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                {{ item.summary | escape }}
              </p>
            </div>

          </article>

      </li>

      <li class="mb-5 item flex items-center px-4 py-3 hover:bg-gray-50 focus-within:bg-gray-50 transition-colors"
        data-index="{{ loop.index0 }}">
        <a href="{{ item.category | escape }}" target="_blank" rel="noopener noreferrer"
          class="flex-1 text-sm font-medium text-blue-600 hover:text-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 rounded">
        Read More in: {{ item.category | escape }}
        </a>
      </li>
  {% endfor %}
  {% else %}
  <li class="item-empty px-4 py-6 text-center text-sm text-gray-500">No Newz</li>
  {% endif %}
</ul>

{% endblock %}
