{% extends "base.html" %}
{% block title %}Latest News{% endblock %}

  {% block content %}

    <ul id="item-list" 
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
      role="list" 
      aria-live="polite" 
      aria-relevant="additions">

      {% if items %}
        {% for item in items %}
          {% include "_news_card.html" %}
        {% endfor %}
      {% else %}
        <li class="p-6 text-center text-sm text-gray-500">
          No Newz is not good Newz.
        </li>
      {% endif %}

    </ul>

{% endblock %}
